$alert:(
    'light': whitesmoke,
    'warnig': orange,
    'info': aqua,
    'white':rgb(252, 252, 252),
    'brown': rgb(41, 32, 32),
    'drak': black,
    'primary': blue,
);
$text-bold: bold;
$text-center: center;

@mixin portfolio($circle: false){
    width: 30%;
    overflow: hidden; //img yang melebihi dari container nya akan di sembunyikan
    border: 5px solid rgb(209, 205, 205);
    // box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.3);
    // Jika circel == true tampilkan
    @if $circle {
        border-radius: 15%;
    }
}
@mixin footer(){
    width: 100vw;
    margin-top: 50px;
    background-color: rgb(158, 47, 47);
    box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.2);
    & &__content{
        padding: 8px;
        text-align: $text-center;
    }
}
@mixin navbar($didrection: flex-end, $item: center){
    width: 100vw;
    height: 70px;
    padding: 0 50px;
    background-color: map-get($alert, 'light');
    display: flex;
    justify-content: $didrection;
    align-items: $item;
    box-shadow: 2px 5px 8px rgba(48, 24, 24, 0.2);
    position: sticky;
    top: 0;
    left: 0;
    img{
        width: 50px;
        height: 50px;
        margin-right: 20px;
        border-radius: 50%;
    }
    & &__brand{
        font-family: "Staatliches", sans-serif;
        font-size: 1rem;
        color: map-get($alert, 'warnig');
        cursor: pointer;
        user-select: none;
    }
    & &__menu {
        margin-left: auto; /*Membuat ul menjadi posisi di kanan*/
        display: flex;
        list-style-type: none;
        gap: 20px;
        text-transform: uppercase;
        li a{
            padding: 5px;
            border-radius: 5px;
            transition: all 0.5s ease;
            &:hover{
                background-color: map-get($alert, 'info');
            }
            &.active{
                background-color: map-get($alert , 'info');
                color: rgb(252, 252, 252);
                font-weight: $text-bold;
            }
        }
    }
}