/* This is the main.scss file */
// Navbar
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html{
    scroll-behavior: smooth;
}
p{
    line-height: 2;
}

a{
    text-decoration: none;
    color: inherit; /*Sesuai dengan chaidnya*/
}
// Import CS
@import 'module';

body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: map-get($alert, 'light');
    font-family: "Montserrat", sans-serif;
}
.navbar{
    // jika hanya megirimkan 1 value , sisanya akan menjalankan nilai default dari parameter
    @include navbar(flex-start, );
}
// Hompage
.hero{
    height: 450px;
    padding-top: 80px; /*Untuk memberikan jarak atas antar img */
    border-bottom: 2px solid map-get($alert, 'light');
    /*Dari folder main.css ang ada di folder public keluar 1 folder lalu masuk ke foder image, cari file yang ingin di gunakan */
    background: url("../image/computer.jpg"), rgb(194, 155, 155);
    // background-image: url("../image/computer.jpg");
    // background-color: rgba(243, 117, 101, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -120px;
    background-blend-mode: overlay;
    box-shadow: 2px 5px 8px rgba(48, 24, 24, 0.2);
    img{
        height: 200px;
        width: 200px;
        margin: auto; /*Digunakan agar img di tengah secara horizontal*/
        display: block; /*Agar dapat mengatur width dan height img*/
        border-radius: 50%;
        border: 2px solid map-get($alert, drank);
    }
    & &__content h3{
        padding-top: 20px;
        font-size: 16px;
        text-align: center;
        color: rgb(243, 234, 234);
        font-weight: bold;
    }
    & &__content h2{
        font-size: 16px;
        text-align: $text-center;
        color: rgb(241, 238, 238);
    }
}


.container{
    > h3 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 32px;
        color: map-get($alert, 'drak');
        font-weight: $text-bold;
        text-align:$text-center;
    }
    > h3 + .container__box{
        padding: 0 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    & &__box > .container__media{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 200px;
        width: 200px;
        display: block;
        /* margin: auto; */
        border-radius: 50%;
        border: 2px solid map-get($alert, 'drak');
    }
    & &__media ~ .container__box--list{
        font-weight: $text-bold;
        font-size: 18px;
        word-spacing: 5px;
    }
}
// Portfolio
.workingspace{
    margin-bottom: 50px;
    text-align: $text-center;
    & &__content{
        margin-top: 20px;
        font-size: 32px;
        text-align: $text-center;
        font-weight: $text-bold;
    }
    & &__box{
        max-width: 900px;
        margin: 50px auto;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap; /*Agar thumbanil turun ke bawah*/
        justify-content: $text-center;
        gap: 20px;
    }
    // & &__thumbnail{
    //     // width: 30%;
    //     // border: 2px solid #666;
    //     // // border-radius: 20%;
    //     // overflow: hidden;
    //     /* position: relative; */
    // }
    & &__thumbnail--circle{
        @include portfolio($circle: true);
    }
    & &__thumbnail--square{
        @include portfolio($circle: false);
    }
    & &__media{
        width: 100%;
        display: block;
        // border-radius: 50%;
    } 
    
    & &__heading--big{
        padding: 10px;
        text-align: $text-center;
        font-size: 23px;
        font-weight: $text-bold;
    }
    & &__heading--small{
        padding-bottom: 10px;
        text-align: $text-center;
        font-size: 16px;
        font-weight: 500;
    }
    & &__overlay{
        height: 0;
        width: 0;
        padding: 50px 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
        z-index: 9999;
        transition: 0.8s;
        text-align: $text-center;
        overflow: scroll;
    }
    & &__overlay:target{
        height: auto;
        width: auto;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
    } 
    & &__close{
        padding: 5px;
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: map-get($alert, 'warnig');
        text-decoration: none;
        border-radius: 5px;
        z-index: 9999;
        opacity: 0;
    }
    & &__overlay--media{
        max-height: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5)
    }
    & &__overlay:target &__close{
        animation: slideDanFade 0.5s 0.5s forwards;
    }
    & &__overlay:target &__overlay--media{
        animation: zoomDanFade 2s;
    }
    & &__overlay p{
        padding: 0 100px;
        color: rgb(250, 250, 245);
        text-align: justify;
        text-indent: 20px;  
    } 
}
@keyframes zoomDanFade{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes slideDanFade {
    0%{
        margin-top: -50px;
        opacity: 0;
    }
    100%{
        margin-top: 0;
        opacity: 1;
    }
}
//Contact
.container{
    & &__contact{
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: $text-center;
        font-size: 32px;
        font-weight: $text-bold;
    }
    & &__model{
        max-width: 800px;
        margin: auto;
        min-height:430px;
        padding: 20px;
        background-color: rgb(235, 218, 208);
        border: 3px solid map-get($alert, 'drak');
        box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.8);
        &tabel, tbody{
            margin: auto;
        }
        &tabel, tr, th{
            text-align: left;
        }
        &tabel, input, textarea{
            width: 100%;
            margin-bottom: 10px;
        }
        &tabel, input{
            height: 30px;
        }
    }
    & &__btn{
        width: 150px;
        height: 35px;
        margin-left: -50px;
        display: inline-block;
        border-radius: 10px;
        text-align: $text-center;
        background-color: map-get($alert, 'primary');
        color: map-get($alert, 'light');
        &:hover{
            background-color: map-get($alert, 'info');
        }
    }
}
// Footer
.footer{
    @include footer();
}