@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})
<div class="hero" id="hero">
  <img src="assets/image/profile1.png" alt="Nur Muhamad Soleh">
  <div class="hero__content">
      <h3>I'am web Devlopber Based in Jakarta, Indonesia!</h3>
      <h2>Freel Free to look my work and see if you like them!</h2>
  </div>
</div>
<article class="container">
  <h3 class="container__content">My Skills</h3>
  <div class="container__box">
      <img src="assets/image/profile1.png" alt="My Sklis" class="container__media">
      <ul type="disc" class="container__box--list">
          <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>Materialize</li>
          <li>Javascript Native</li>
      </ul>
      <ul type="square" class="container__box--list">
          <li>React js</li>
          <li>Vue js</li>
          <li>MYSQL</li>
          <li>PHP Native</li>
          <li>Laravel</li>
      </ul>
  </div>
</article>
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})