@@include('../shared/header.html', {
    "style": [
        "assets/css/main.css"
    ]
})
<section class="workingspace">
    <h1 class="workingspace__content">My Portfolio</h1>
    <div class="workingspace__box">
        <div class="workingspace__thumbnail--circle">
            <a href="#gambar_1" class="popup">
                <img src="assets/image/img_1/normal.jpg" srcset="assets/image/img_1/small.jpg 320w, assets/image/img_1/medium.jpg 800w, assets/image/img_1/large.jpg 1200w" sizes="80w" alt="MyPortfolio" class="workingspace__media">
                <!-- <video src="assets/video/video.mp4"></video> -->
                <!-- <img src="assets/image/3.jpg" class="workingspace__media"> -->
                <h3 class="workingspace__heading--big">MY Example #1</h3>
                <p class="workingspace__heading--small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, fuga?</p>
            </a>
            <div class="workingspace__overlay" id="gambar_1">
                <a href="#" class="workingspace__close close">X</a>
                <img src="assets/image/img_1/normal.jpg" srcset="assets/image/img_1/small.jpg 320w, assets/image/img_1/medium.jpg 800w, assets/image/img_1/large.jpg 1200w" sizes="80w" alt="MyPortfolio" class="workingspace__overlay--media">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.</p>
            </div>
        </div>
        <div class="workingspace__thumbnail--circle">
            <a href="#gambar_2" class="popup">
                <img src="assets/image/img_2/2.jpg" srcset="assets/image/img_2/small.jpg 320w, assets/image/img_2/medium.jpg 800w, assets/image/img_2/large.jpg 1200w" sizes="80w" alt="MyPortfolio" class="workingspace__media">
                <h3 class="workingspace__heading--big">MY Example #1</h3>
                <p class="workingspace__heading--small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, fuga?</p>
            </a>
            <div class="workingspace__overlay" id="gambar_2">
                <a href="#" class="workingspace__close close">X</a>
                <img src="assets/image/img_3/4.jpg" srcset="assets/image/img_3/small.jpg 320w, assets/image/img_3/medium.jpg 800w, assets/image/img_3/large.jpg 1200w" sizes="80w" alt="MyPortfolio" class="workingspace__overlay--media">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero voluptates odit voluptatibus, ab, blanditiis maxime a fuga temporibus non minima harum iure eligendi reprehenderit accusantium tenetur, laboriosam explicabo. Et.</p>
            </div>
        </div>
        <div class="workingspace__thumbnail--circle">
            <a href="#gambar_3" class="popup">
                <img src="assets/image/img_4/6.jpg" srcset="assets/image/img_4/small.jpg 320w, assets/image/img_4/medium.jpg 800w, assets/image/img_4/large.jpg 1200w" sizes="80w" alt="MyPortfolio" class="workingspace__media">
                <h3 class="workingspace__heading--big">MY Example #1</h3>
                <p class="workingspace__heading--small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, fuga?</p>
            </a>
            <div class="workingspace__overlay" id="gambar_3">
                <a href="#" class="workingspace__close close">X</a>
                <img src="assets/image/img_4/6.jpg" srcset="assets/image/img_4/small.jpg 320w, assets/image/img_4/medium.jpg 800w, assets/image/img_4/large.jpg 1200w" sizes="80w" alt="MyPortfolio" class="workingspace__overlay--media">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, non. Beatae rerum libero assumenda sint sequi tempora voluptatibus? Sed animi voluptatibus cum tempora, deserunt eum impedit nihil delectus alias quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, non. Beatae rerum libero assumenda sint sequi tempora voluptatibus? Sed animi voluptatibus cum tempora, deserunt eum impedit nihil delectus alias quas.</p>
            </div>
        </div>
        <div class="workingspace__thumbnail--square">
            <a href="#gambar_4" class="popup">
                <img src="assets/image/img_5/8.jpg" srcset="assets/image/img_5/small.jpg 320w, assets/image/img_5/medium.jpg 800w, assets/image/img_5/large.jpg 1200w" sizes="80w" alt="MyPortfolio" class="workingspace__media">
                <h3 class="workingspace__heading--big">MY Example #1</h3>
                <p class="workingspace__heading--small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, fuga?</p>
            </a>
            <div class="workingspace__overlay" id="gambar_4">
                <a href="#" class="workingspace__close close">X</a>
                <img src="assets/image/img_5/8.jpg" srcset="assets/image/img_5/small.jpg 320w, assets/image/img_5/medium.jpg 800w, assets/image/img_5/large.jpg 1200w" sizes="80w" alt="MyPortfolio" class="workingspace__overlay--media">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque perspiciatis id ab veniam porro repellat fugit, voluptate totam, natus delectus enim ut repellendus placeat omnis quis. Minus, a esse.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque perspiciatis id ab veniam porro repellat fugit, voluptate totam, natus delectus enim ut repellendus placeat omnis quis. Minus, a esse.</p>
            </div>
        </div>
        <div class="workingspace__thumbnail--square">
            <a href="#gambar_5" class="popup">
                <img src="assets/image/img_3/4.jpg" srcset="assets/image/img_3/small.jpg 320w, assets/image/img_3/medium.jpg 800w, assets/image/img_3/large.jpg 1200w" sizes="80w" alt="MyPortfolio" class="workingspace__media">
                <h3 class="workingspace__heading--big">MY Example #1</h3>
                <p class="workingspace__heading--small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, fuga?</p>
            </a>
            <div class="workingspace__overlay" id="gambar_5">
                <a href="#" class="workingspace__close close">X</a>
                <img src="assets/image/img_3/4.jpg" srcset="assets/image/img_3/small.jpg 320w, assets/image/img_3/medium.jpg 800w, assets/image/img_3/large.jpg 1200w" sizes="80w" alt="MyPortfolio" class="workingspace__overlay--media">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus in at dolores et iusto asperiores, odio ipsa aspernatur cum deleniti tenetur veritatis nesciunt corrupti magnam, dignissimos, doloribus nam provident. Delectus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus in at dolores et iusto asperiores, odio ipsa aspernatur cum deleniti tenetur veritatis nesciunt corrupti magnam, dignissimos, doloribus nam provident. Delectus.</p>
            </div>
        </div>
        <div class="workingspace__thumbnail--square">
            <a href="#gambar_6" class="popup">
                <img src="assets/image/img_6/10.jpg" srcset="assets/image/img_6/small.jpg 320w, assets/image/img_6/medium.jpg 800w, assets/image/img_6/large.jpg 1200w" sizes="80w" alt="MyPortfolio" class="workingspace__media">
                <h3 class="workingspace__heading--big">MY Example #1</h3>
                <p class="workingspace__heading--small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, fuga?</p>
            </a>
            <div class="workingspace__overlay" id="gambar_6">
                <a href="#" class="workingspace__close close">X</a>
                <img src="assets/image/img_6/10.jpg" srcset="assets/image/img_6/small.jpg 320w, assets/image/img_6/medium.jpg 800w, assets/image/img_6/large.jpg 1200w" sizes="80w" alt="MyPortfolio" class="workingspace__overlay--media">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti repellendus nostrum quo eius nesciunt. Molestiae error officia asperiores unde placeat tempore ratione quidem impedit repellat aliquam, atque in, voluptates distinctio.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti repellendus nostrum quo eius nesciunt. Molestiae error officia asperiores unde placeat tempore ratione quidem impedit repellat aliquam, atque in, voluptates distinctio.
                </p>
            </div>
        </div>
    </div>
</section>
@@include('../shared/footer.html', {
    "script": [
        "assets/js/app.min.js",
        "assets/js/contact.js"
    ]
})